/* CSS RESET */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Generic */
html, body {width:100%; height:100%;}
body {background:#1A1A1A; font-family: arial, sans-serif; color:#FFFFFF;}
* {-webkit-touch-callout: none; -webkit-user-select: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
#Netflix img {-webkit-user-select: none;}
#Netflix {position:relative; width:100%; height:100%; overflow: hidden;} /* Wrapping everything to avoid page overflow scrolling */
#Netflix .header {background:#b4120f; width:100%; height:92px; top:0; left:0; z-index:2;}
#Netflix .header .button {position:absolute; top:10px; width:80px; height:74px; background-repeat: no-repeat; -webkit-transition:background-image 0.15s;}
#Netflix .header .button.options {background-image:url(../img/option_btn.png); left:10px;}
#Netflix .header .button.cancel {background-image:url(../img/cancel_btn.png); right:10px;}
#Netflix .header .button.search {background-image:url(../img/search_btn.png); right:10px;}
#Netflix .header .logo {background:url(../img/logo.png) no-repeat; width:184px; height:56px; position:absolute; left:50%; top:18px; margin-left:-92px;}
#Netflix .view {width:100%; position:absolute; padding-bottom:20px; height:100%; left:0; -webkit-backface-visibility: hidden; -webkit-transform:translate3d(0,0,0); overflow: hidden;}
#Netflix .view[modal][show] {-webkit-transform:translateY(0);}
#Netflix .view[modal] {-webkit-transform:translateY(100%); -webkit-transition: -webkit-transform 500ms;}
#Netflix .view .viewContent {-webkit-overflow-scrolling: touch; overflow-y:visible; overflow-x:hidden; width:100%; height:-webkit-calc(100% - 90px); position:relative; padding:20px 0;}
#Netflix .thumbnail {display: inline-block; position:relative;}
#Netflix .thumbnail .overlay {position:absolute; top:0; bottom:0; width:100%; height:100%; z-index:2;}

/* MoviePage */
#Netflix #MoviePage {background:#FFFFFF;}
#Netflix #MoviePage h1 {color:#333333; font-size:30px; font-weight: bold;}
#Netflix #MoviePage .thumbnail {float:left; margin: 0 20px;}
#Netflix #MoviePage .thumbnail .overlay {width:100%; height:100%; background:url(../img/thumbnail_overlay.png) no-repeat center center;}
#Netflix #MoviePage .thumbnail img {height:338px; width:238px;}
#Netflix #MoviePage .addButton {width:255px; height:52px; background:url(../img/add_btn.png) no-repeat; float:left; color:#333333; font-size:30px; padding:20px 0 0 85px; margin-top: 150px;}

/* HomePage */
#Netflix #HomePage .movieList {padding-bottom: 20px;}
#Netflix #HomePage .movieList .scroller {white-space: nowrap; -webkit-transform: translateZ(0px); -webkit-overflow-scrolling: touch; padding-bottom: 15px; overflow-x:visible; overflow-y:hidden;}
#Netflix #HomePage .movieList .title {font-size: 30px; font-weight: bold; margin-left:20px; margin-bottom:10px;}
#Netflix #HomePage .movieList .thumbnail {margin-left: 20px;}
#Netflix #HomePage .movieList .thumbnail div[overlay] {opacity:0.5;}
#Netflix #HomePage .movieList .thumbnail, .movieList .thumbnail img {width:220px; height:316px;}
#Netflix #HomePage .movieList .thumbnail .overlay {background: #000000; opacity:0.5;}
#Netflix #HomePage .movieList .thumbnail .overlay[show] {opacity:0.5;}